<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- This file allows your programs to be monitored for memory measurement -->
<!-- This was the fix as specified https://github.com/cmyr/cargo-instruments/issues/40 -->
    <dict>
        <key>com.apple.security.get-task-allow</key>
        <true/>
    </dict>
</plist>